<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article Page</title>
</head>
<body>

<h1>{{ article.title }}</h1>
<br/>
<h3>{{ article.content }}</h3>

<!--显示评论-->
<div class="" style="broder:none">
    {% for comment in com %}
    <div class="comment">
        <div class="avater">
            <img src="" alt="">
        </div>
        <div class="connect">
            <a herf="">{{ comment.belong_user.username}}</a>
            <div class="metadata">
                <div class="data">{{comment.time}}</div>
            </div>
            <p class="text">{{ comment.words}}</p>
            <p class="text">回复</p>
        </div>
    </div>
    {% endfor %}
</div>
<!--评论表单-->
<form action="{% url 'blog:com_action' article.id%}"  method="post">
{% csrf_token %}
    <div class="">
        <input class="comment" name="cominput" placeholder="在这里写评论" required>
    </div>

    <button type = "submit" class="" style="width:45px;height:30px" >评论</button>
</form>


<br/>
<a href="{% url 'blog:edit_page' article.id %}">修改文章</a>
<a href="{% url 'blog:del_action' article.id %}">删除文章</a>
</body>
</html>